# Cache objects
packer/*/packer_cache/

# ISO image
packer/*/iso/

# For built boxes
*.box
packer/*/box/

# vagrant files
vagrant/*/.vagrant

# Mac-Files
.DS_Store

# VMWare Images
*.vmdk

# EWF Files
*.E[0-9][0-9]

# raw Images
*.dd
